@charset "utf-8";

button{
    width: 90px;
    height: 90px;
    font-size: 50px;
}
textarea{
    width: 462px;
    height: 80px;
    font-size: 30px;
}
#output{
    position: absolute;
    top: 20px;
    right: 1px;
    font-size: 50px;
    margin-right: 50px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    border: 3px solid black;
    padding: 50px;
    width: fit-content;
}